* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: 'Libre Baskerville', serif;
}

.stage {
  width: 100vw;
  height: 100vh;
}

.chat {
  position: absolute;
  width: 21vw;
  /* top: 0; */
  z-index: 1000;
  right: 3vw;
  height: 64%;
  border: 1px solid #b4ff00;
  border-radius: 6px;
}

h1 {
  font-weight: 100;
  margin-left: -4vw;
  font-family: 'Libre Baskerville', serif;
  font-size: 3vw;
  color: #b4ff00;
  font-style: italic;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 0 auto;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  border: none;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.timeline {
  width: auto;
  right: 0;
  font-size: 2.6vw;
  letter-spacing: -0.1vw;
  padding: 5vw 5vw;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000;
  top: 0;
  background-color: #000;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.timeline.active {
  transform: translateX(19vw);
}

.timeline__item {
  color: #b4ff00;
  font-size: 2.6vw;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  /* padding: 0.2vw; */
  /* border-radius: 130px; */
  border-bottom: 1px solid;
  justify-content: space-between;
  font-family: 'Libre Baskerville', serif;
  background-color: #000000;
}

.timeline__item__headline {
  /* text-transform: uppercase; */
  margin-bottom: 0;
  /* line-height: 1vw; */
  float: left;
  margin-right: 1vw;
}

.timeline__item__headline .counter {
  background-color: #b4ff00;
  padding: 0.2vw 0.6vw;
  margin-right: -0.3vw;
  border-radius: 6px;
  color: #000;
}

.timeline__item__date {
  display: flex;
  align-items: end;
}

.timeline__item__date .today {
  text-transform: uppercase;
  font-size: 1.3vw;
  font-weight: bold;
  letter-spacing: 0.2vw;
}

.timeline__item__date .day {
  padding: 0.2vw 0.6vw;
  border-radius: 20px;
}

.timeline__item__date .time {
  display: flex;
  align-items: center;
  margin-left: 1vw;
  background-color: #b4ff00;
  padding: 0.2vw 0.6vw;
  margin-right: -0.3vw;
  border-radius: 1px;
  color: #000;
}

.timeline__item__date .time svg {
  width: 50px;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 100000;
  display: none;
}

#particles-js.active {
  display: block;
}

#particles-js canvas {
  height: 100vh;
}

.popcorn {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  color: #b4ff00;
  z-index: 1000000000;
  cursor: pointer;
}

.curtain {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #b4ff00;
  padding: 1vw;
  z-index: 1000000;
  cursor: pointer;
}

.curtain-left {
  width: 0;
  position: fixed;
  height: 100vh;
  left: 0;
  z-index: 1000;
  top: 0;
  transition: all 1s;
}

.curtain-left.active {
  width: 50vw;
}

.curtain-right {
  width: 0;
  position: fixed;
  height: 100vh;
  right: 0;
  z-index: 1000;
  top: 0;
  transition: all 1s;
}

.curtain-right.active {
  width: 50vw;
}
